In [3]:
import pandas as pd
import numpy as np

In [4]:
data = pd.read_csv('C:\\Users\\Ella\\Documents\\ELLA PINGKIAN\\4.1\\ITD112\\ITD112Project\\static\\dataset\\doh-epi-dengue-data-2016-2021.csv')
data

C:\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (0,3,7,8) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,loc,cases,deaths,mdy,m,d,y,date,Region
0,ALBAY,15.0,0.0,1/10/2016,1.0,10.0,2016.0,1/10/2016,REGION V-BICOL REGION
1,ALBAY,13.0,0.0,1/17/2016,1.0,17.0,2016.0,1/17/2016,REGION V-BICOL REGION
2,ALBAY,9.0,0.0,1/24/2016,1.0,24.0,2016.0,1/24/2016,REGION V-BICOL REGION
3,ALBAY,14.0,0.0,1/31/2016,1.0,31.0,2016.0,1/31/2016,REGION V-BICOL REGION
4,ALBAY,9.0,0.0,2/07/2016,2.0,7.0,2016.0,2/7/2016,REGION V-BICOL REGION
...,...,...,...,...,...,...,...,...,...
1048570,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048571,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048572,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048573,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048574,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
data.isnull().sum()

loc       1015874
cases     1015874
deaths    1015874
mdy       1015874
m         1015874
d         1015874
y         1015874
date      1015874
Region    1015874
dtype: int64

In [6]:
cdata = data.dropna()
cdata.isnull().sum()

loc       0
cases     0
deaths    0
mdy       0
m         0
d         0
y         0
date      0
Region    0
dtype: int64

## EDA

In [8]:
cdata[['cases', 'deaths']].describe()

              cases        deaths
count  32701.000000  32701.000000
mean      35.152197      0.515336
std       78.415109      4.900819
min        0.000000      0.000000
25%        3.000000      0.000000
50%       12.000000      0.000000
75%       36.000000      0.000000
max     3382.000000    205.000000

In [13]:
cdata.info()
cdata.shape

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32701 entries, 0 to 32700
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   loc     32701 non-null  object
 1   cases   32701 non-null  float64
 2   deaths  32701 non-null  float64
 3   mdy     32701 non-null  object
 4   m       32701 non-null  float64
 5   d       32701 non-null  float64
 6   y       32701 non-null  float64
 7   date    32701 non-null  object
 8   Region  32701 non-null  object
dtypes: float64(5), object(4)
memory usage: 2.5+ MB

(32701, 9)

In [14]:
cdata['cases'].mean()

35.15219718051436

## Functions

In [45]:
reg = cdata['Region'].unique()
# print(reg)

reg_dict = []
dsum_lst = []
csum_lst = []
mrate_lst = []
sorted_mrate = []

for i in reg:
    reg_dict.append(i)
    dsum = int(cdata[(cdata['Region'] == i)][["deaths"]].sum())       #sum of all deaths per region
    csum = int(cdata[(cdata['Region'] == i)][["cases"]].sum())        #sum of all cases per region
#     print(i, " - ", " cases recorded:", csum, "       ", "death recorded:", dsum)
    dsum_lst.append(dsum)
    csum_lst.append(csum)
    
#     mortality rate

    if csum == 0:
        mrate = 0
    else:
        mrate = round((dsum/csum)*100, 2)
        mrate = str(str(mrate) + "%")
        mrate_lst.append(mrate)
#         print(i, "mortality rate: ", rmrate , "%")

print(mrate_lst)
    
# print(str(reg_dict))
# print(str(csum_lst))

['0.83%', '0.37%', '0.43%', '0.4%', '0.26%', '0.42%', '1.55%', '1.59%', '1.13%', '1.11%', '1.03%', '1.18%', '3.29%', '2.74%', '2.88%', '3.45%', '4.67%']

In [4]:
loc = data['loc'].unique()
print(loc)

['ALBAY' 'ANGELES CITY' 'AURORA' 'BATAAN' 'BATANES' 'BATANGAS' 'BULACAN'
 'CAGAYAN' 'CAMARINES NORTE' 'CAMARINES SUR' 'CATANDUANES' 'CAVITE'
 'DAGUPAN CITY' 'ILOCOS NORTE' 'ILOCOS SUR' 'ISABELA' 'LA UNION' 'LAGUNA'
 'LUCENA CITY' 'MARINDUQUE' 'MASBATE' 'NAGA CITY' 'NUEVA ECIJA'
 'NUEVA VISCAYA' 'OCCIDENTAL MINDORO' 'OLONGAPO CITY' 'ORIENTAL MINDORO'
 'PALAWAN' 'PAMPANGA' 'PANGASINAN' 'PUERTO PRINCESA CITY' 'QUEZON'
 'QUIRINO' 'RIZAL' 'ROMBLON' 'SANTIAGO CITY' 'SORSOGON' 'TARLAC'
 'ZAMBALES' 'AKLAN' 'ANTIQUE' 'BACOLOD CITY' 'CAPIZ' 'GUIMARAS' 'ILOILO'
 'ILOILO CITY' 'NEGROS OCCIDENTAL' 'BOHOL' 'CEBU' 'CEBU CITY'
 'LAPU-LAPU CITY' 'MANDAUE CITY' ' NEGROS ORIENTAL' 'SISQUIJOR' 'BILIRAN'
 'EASTERN SAMAR' 'LEYTE' 'NORTHERN SAMAR' 'ORMOC CITY' 'SAMAR'
 'SOUTHERN LEYTE' 'TACLOBAN' 'ISABELA CITY' 'ZAMBOANGA CITY'
 'ZAMBOANGA DEL NORTE' 'ZAMBOANGA DEL SUR' 'ZAMBOANGA SIBUGAY' 'BUKIDNON'
 ' CAGAYAN DE ORO CITY' 'CAMIGUIN' 'ILIGAN CITY' 'LANAO DEL NORTE'
 'MISAMIS OCCIDENTAL' 'MISAMIS ORIENTAL' 'DAVAO CITY' 'DAVAO DE ORO'
 'DAVAO DEL NORTE' 'DAVAO DEL SUR' 'DAVAO ORIENTAL' 'ABRA'
 'AGUSAN DEL NORTE' 'AGUSAN DEL SUR' 'APAYAO' 'BAGUIO CITY' 'BASILAN'
 'BASILIG CITY' 'BAYUGAN CITY' 'BENGUET' 'BUTUAN CITY' 'CABADBARAN CITY'
 'CALOOCAN CITY' 'COTABATO CITY' 'DINAGAT ISLANDS' 'GENERAL SANTOS CITY'
 'IFUGAO' 'KALINGA' 'LANAO DEL SUR' 'LAS PINAS CITY' 'MAGUINDANAO'
 'MAKATI CITY' 'MALABON CITY' 'MANDALUYONG CITY' 'MANILA CITY'
 'MARIKINA CITY' 'MOUNTAIN PROVINCE' 'MUNTINLUPA CITY' 'NAVOTAS CITY'
 'NORTH COTABATO' 'PARANAQUE CITY' 'PASAY CITY' 'PASIG CITY' 'PATEROS'
 'QUEZON CITY' 'SAN JUAN CITY' 'SARANGANI' 'SOUTH COTABATO'
 'SULTAN KUDARAT' 'SULU' 'SURIGAO CITY' 'SURIGAO DEL NORTE'
 'SURIGAO DEL SUR' 'TAGUIG CITY' 'TANDAG CITY' 'TAWI-TAWI'
 'VALENZUELA CITY' 'DAVAO OCCIDENTAL' nan]

In [5]:
# 2. Line graph - reported dengue cases in the Philippines (col2, r2
# Options: By year

reg_dict

from datetime import date, datetime, timedelta
data['date'] = pd.to_datetime(data['date'], format="%m/%d/%Y")

#scraping unique years from dataset
year_lst = []
deaths_pY = []
cases_pY = []
ymrate_lst = []
cdata = data.dropna()                           # droping null value in dataset
years = cdata['date'].dt.year.unique()          # unique list of years

for i in years:
    dPy = int(cdata[(cdata['date'].dt.year == i)][["deaths"]].sum())              # deaths per year
    deaths_pY.append(dPy)
    cPy = int(cdata[(cdata['date'].dt.year == i)][["cases"]].sum())              # deaths per year
    cases_pY.append(cPy)
    ymrate = round((dPy/cPy)*100, 2)
    ymrate = str(str(ymrate) + "%")
    ymrate_lst.append(ymrate)
    
    print(i, ": ", dPy, ymrate)
    
print("Total deaths 2016-2021:", sum(deaths_pY))
print("Total cases 2016-2021:", sum(cases_pY))



    
#     for j in reg_dict:
# #         print(reg_dict[j])
#         cdata[["Region"]].loc[[j]]
#         ss = cdata[(cdata['date'].dt.year == i)][["deaths"]].loc[["cdata['Region'] == j"]]
    
    

# print(ymrate_lst)

# loc = cdata['loc'].unique()

2016 :  8127 3.88%
2017 :  4563 2.96%
2018 :  1226 0.49%
2019 :  1733 0.39%
2020 :  1195 1.31%
2021 :  8 0.38%
Total deaths 2016-2021: 16852
Total cases 2016-2021: 1149512

In [9]:
# data2 = pd.read_csv('C:\\Users\\Ella\\Documents\\ELLA PINGKIAN\\4.1\\ITD112\\ITD112Project\\static\\dataset\\earthquake-1965-2016.csv')

# # wdata = data2.dropna()
# data2

In [10]:
# data2['Date'] = pd.to_datetime(data2['Date'], format="%m/%d/%Y")

# data2['Date'].dt.year.unique()

# data2['Magnitude Type'].unique()